<main>
  <div
    *ngIf="!_authService.isLoggedIn()"
    class="w-full bg-green-500 text-center transition-all duration-150 sm:px-4"
    [ngClass]="router.url != '/' ? 'p-0' : showScrollButton() ? 'p-0' : 'p-2'"
  >
    <div
      class="flex flex-col gap-x-4 gap-y-2 xs:flex-row sm:flex-col md:flex-row xs:items-center xs:justify-center"
    >
      <p class="text-xs xs:text-sm inline items-center justify-center gap-1 text-soft-black">
        <span>
          <span class="font-semibold text-balance"
            >Delhi's Most Trusted  Health Store  & Nutritionist
          </span>
        </span>
      </p>
      <span class="shrink-0">
        <a
          routerLink="/login"
          class="font-sans transition-all tracking-[-0.14px] duration-150 font-semibold inline-flex items-center justify-center text-warm-white bg-soft-black hover:bg-gray-800 _btn-sm text-sm/[1.7145] px-2 py-1 gap-1 rounded-lg focus-visible:ring-2 focus-visible:ring-blue-500 outline-hidden"
          data-cta-name="announcement-banner-2026-post-release"
        >
          <span class="px-1">See what's new</span>
        </a>
      </span>
    </div>
  </div>
  <div class="relative public-lay bg-white font-normal text-soft-black antialiased public-lay">
    <app-header *ngIf="!_authService.isLoggedIn()"></app-header>
    <dash-header *ngIf="_authService.isLoggedIn()"></dash-header>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
    <app-cart-drawer />
    <button
      *ngIf="!_utilityService.isAuthRoute()"
      (click)="scrollToTop($event)"
      class="fixed bottom-8 right-8 z-[40] p-3 bg-emerald-600 text-white rounded-full shadow-lg shadow-emerald-900/20 hover:bg-emerald-500 hover:-translate-y-1 transition-all duration-500 ease-out focus:outline-none"
      [ngClass]="
        showScrollButton() && router.url.trim()
          ? 'opacity-100 translate-y-0 pointer-events-auto'
          : 'opacity-0 translate-y-8 pointer-events-none'
      "
      aria-label="Scroll to top"
    >
      <lucide-icon name="arrowUp" [size]="20"></lucide-icon>
    </button>
    <app-footer *ngIf="!_utilityService.isAuthRoute()"></app-footer>
  </div>
</main>
<dashboard-mobile-menu></dashboard-mobile-menu>
