.design-input {
  color: var(--gray-800) !important;
  border: 0 !important;
  padding: 0 !important;
  font-size: 14px !important;
}

.lh-br {
  line-height: 22px;
  border-radius: 7px;
}

.fs-inherit {
  font-size: inherit;
}
