/* ===== Main Menu ===== */

.main-menu-card[data-reach-menu-items] {
  background: #fff;
  border: none;
  display: grid;
  font-size: inherit;
  gap: 1rem;
  grid-auto-flow: row;
  grid-gap: 1rem;
  padding: 1rem;
  white-space: normal;
}

.main-menu-card[data-reach-menu-items] .main-link {
  align-items: flex-start;
  color: #3d3d3d;
  background: #fff;
  cursor: pointer;
  display: flex;
  max-width: 340px;
  padding: 0.5rem;
}

.main-menu-card[data-reach-menu-items] .main-link:hover,
.main-menu-card[data-reach-menu-items] .main-link:focus {
  background: #f7f7f7;
  text-decoration: none;
}

/* ===== Changelog ===== */

.changelog-item .status .pulse-container {
  width: 12px;
  overflow: hidden;
  position: relative;
}

.changelog-item .status .pulse-container .pulse {
  position: absolute;
  top: 3px;
  width: 12px;
  height: 12px;
}

.changelog-item .status .published {
  margin-left: 8px;
}

.changelog-item .status.is-hidden .pulse-container {
  width: 0;
}

.changelog-item .status.is-hidden .published {
  margin-left: 2px;
  transition: all 0.3s linear;
}

.changelog-item .changelog-item-description figure {
  margin-bottom: 20px;
}

.changelog-item .changelog-item-description figure img {
  border-radius: 8px;
}

.changelog-item .changelog-item-description p {
  font-size: 14px;
  line-height: 24px;
  color: #3d3d3d;
  padding-bottom: 15px;
}

.changelog-item .changelog-item-description p a {
  text-decoration: underline;
}

/* ===== Notifications ===== */

#Notifications {
  display: flex;
  position: relative;
}

#Notifications ul {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  width: 320px;
  max-height: 300px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #dce1e5;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(210, 214, 220, 0.3);
  z-index: 500;
  // color: #000;
  // overflow: hidden;
}

#Notifications ul[data-is-opened='true'] {
  display: flex;
}

#Notifications ul li {
  list-style: none;
}

#Notifications ul li:not(:last-of-type) {
  border-bottom: 1px solid #f3f6f9;
}

#Notifications ul li[data-status='aborted'],
#Notifications ul li[data-status='failed'] {
  color: #a94442;
}

#Notifications ul li.action svg {
  color: #697177;
  margin-right: 6px;
}

#Notifications ul li .progress {
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  margin: 8px 0;
  // box-shadow: none;
}

#Notifications ul li .progress .foreground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: left 0.3s ease;
}

/* ===== Settings Menu ===== */

.settings-menu[data-reach-menu-list],
.settings-menu[data-reach-menu-items] {
  width: 20rem;
  padding: 1rem;
  border: none;
}

.settings-menu .settings-link {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  color: #3d3d3d;
  cursor: pointer;
}

.settings-menu .settings-link:hover,
.settings-menu .settings-link:focus,
.settings-menu .settings-link[data-selected] {
  background: #f7f7f7;
  text-decoration: none;
}

/* ===== Navigation ===== */

.nav-hover {
  transition: background-color 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}

.nav-hover:hover,
.nav-hover.active {
  background-color: #f9f7f4;
}

/* ===== Mobile Menu Icon ===== */

.mobile-menu {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  text-indent: -200px;
  transition: background-color 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}

.mobile-menu::before,
.mobile-menu::after {
  content: '';
  position: absolute;
  left: 10%;
  width: 80%;
  border-top: 2px solid currentColor;
  transform-origin: top left;
  transition: transform 0.2s cubic-bezier(0.5, 0, 0.5, 1);
  will-change: transform;
}

.mobile-menu::before {
  top: 25%;
  bottom: 25%;
  border-bottom: 2px solid currentColor;
}

.mobile-menu::after {
  top: calc(50% - 1px);
  border-bottom: solid 2px transparent;
}

.mobile-menu[aria-expanded='true']::before {
  border-bottom-color: transparent;
  transform: translate(4px) rotate(45deg);
}

.mobile-menu[aria-expanded='true']::after {
  transform: translate(2.6px, 8.3px) rotate(-45deg);
}

/* ===== Helpers ===== */

.smooth-scroll {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.fixed--full {
  position: fixed;
  width: 100%;
}

.mobile-popup {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-bottom: 64px;
  overflow-y: auto;
  z-index: 10;

  // margin: 0;
  // padding: 0 0 64px;
  // list-style-type: none;
}

.snavdd-menu1 {
  position: fixed;
  z-index: 10000;
  left: 365.5px;
  top: 44px;
}

@media (min-width: 1940px) {
  .snavdd-menu1 {
    left: 694px;
  }
}

.snavdd-menu2 {
  position: fixed;
  z-index: 10000;
  left: 469.3px;
  top: 44px;
}

@media (min-width: 1940px) {
  .snavdd-menu2 {
    left: 797.8px;
  }
}

.snavdd-menu3 {
  position: fixed;
  z-index: 10000;
  left: 571.983px;
  top: 44px;
}

@media (min-width: 1940px) {
  .snavdd-menu3 {
    left: 900.483px;
  }
}
.snavdd-menuprofile {
  position: fixed;
  z-index: 10000;
  left: 1506.37px;
  top: 44px;
}

@media (min-width: 1940px) {
  .snavdd-menuprofile {
    left: 1506.37px;
  }
}

.p-custom-dash-btn {
  padding: 4px 4px 4px 12px;
}

.img-dash-width-24 {
  width: 24px;
  height: 24px;
}

.dash-grid {
  grid-template-columns: repeat(2, minmax(340px, 1fr));
}

.top-op-dash {
  top: 0px;
  opacity: 1;
}

.max-w-head-dash {
  max-width: min(100%, 1440px);
}

.dash-wd-54 {
  width: 54px;
}

.img-wd-200 {
  max-width: 200px;
}
