.design-input {
  color: var(--gray-800) !important;
  border: 0 !important;
  padding: 0 !important;
  font-size: 14px !important;
}

.h-custom-google {
  height: 2.5rem;
  width: 2.5rem;
}

.leafygreen-ui-7o0bky {
  appearance: none;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  border: 1px solid rgb(136, 147, 151);
  display: inline-flex;
  -moz-box-align: stretch;
  align-items: stretch;
  transition: 150ms ease-in-out;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  z-index: 0;
  font-family: 'Euclid Circular A', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 6px;
  background-color: rgb(249, 251, 250);
  color: rgb(0, 30, 43);
  font-size: 16px;
  line-height: 28px;
  transform: translateY(1px);
  font-weight: 500;
  height: 36px;
}
@media only screen and (min-width: 1025px) {
  .css-1j7yzl5 {
    width: 296px;
  }
}
.css-1j7yzl5 {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  border-radius: 6px;
  width: 296px;
  height: 52px;
  box-shadow: lightgray 0px 1px;
}

.css-1j7yzl5:hover,
.css-1j7yzl5:focus {
  box-shadow: rgb(232, 236, 235) 0px 0px 0px 3px;
  border-color: rgb(136, 147, 151);
}
.leafygreen-ui-7o0bky:hover,
.leafygreen-ui-7o0bky[data-hover='true'],
.leafygreen-ui-7o0bky:active,
.leafygreen-ui-7o0bky[data-active='true'] {
  color: rgb(0, 30, 43);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(232, 237, 235) 0px 0px 0px 3px;
}
.leafygreen-ui-7o0bky:active,
.leafygreen-ui-7o0bky[data-active='true'],
.leafygreen-ui-7o0bky:focus,
.leafygreen-ui-7o0bky:hover {
  text-decoration: none;
}
.leafygreen-ui-v038xi {
  overflow: hidden;
  position: absolute;
  inset: 0px;
  border-radius: 5px;
}
.leafygreen-ui-7o0bky {
  cursor: pointer;
  font-family: 'Euclid Circular A', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(0, 30, 43);
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

.leafygreen-ui-7o0bky:hover,
.leafygreen-ui-7o0bky[data-hover='true'],
.leafygreen-ui-7o0bky:active,
.leafygreen-ui-7o0bky[data-active='true'] {
  color: rgb(0, 30, 43);
}

.leafygreen-ui-16tr4y {
  display: grid;
  grid-auto-flow: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  user-select: none;
  z-index: 0;
  padding: 0px 11px;

  gap: 6px;
}

.css-1molcjf {
  display: flex;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  height: auto;
}

.css-1yvuomv {
  color: rgb(92, 108, 117);
  padding-right: 14px;
}

.css-11sl9z4 {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  color: rgb(92, 108, 117);
  text-align: center;
}
.css-go0pt5 {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  width: 300px;
  margin: 20px 0px;
}
.css-go0pt5::before {
  margin-left: 0px;
}
.css-go0pt5::before,
.css-go0pt5::after {
  content: '';
  flex: 1 1 10%;
  border-bottom: 1px solid rgb(193, 199, 198);
  margin: 0px 10px;
  margin-left: 10px;
  transform: translateY(-50%);
}

.css-7tfc0v {
  margin-top: 32px;
  margin-bottom: 16px;
}
.leafygreen-ui-oaqrgz {
  margin: unset;
  margin-top: unset;
  margin-bottom: unset;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  font-family: 'MongoDB Value Serif', 'Times New Roman', serif;
  color: rgb(0, 104, 74);
}

.lh-br {
  line-height: 22px;
  border-radius: 7px;
}

.mt-2px {
  margin-top: 2px;
}
